.theme-text{
    color: #3D56FF !important;
}
#united{
    font-size: 3.75rem;
    letter-spacing: 1px;
}
.img-container{
    margin-top: 2rem;
    width:  280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.img-container img{
    height: 280px;
    position: absolute;
    bottom: -20px;
}
.content{
    font-size: 1.25rem;
    text-align: center;
    line-height: 36px;
    margin: 0 5rem;
}
.theme-bg{
    background: radial-gradient(100% 100% at 50% 100%, #162E6D 0%, #071128 100%),linear-gradient( 0deg, #FFFFFF, #FFFFFF);
}
@media (max-width: 625px){
    #united{
        font-size: 2.5rem;
    }
    .img-container{
        height: 200px;
        width:  200px;
    }
    .img-container img{
        height: 200px;
    }
    .content{
        font-size: 1rem;
        line-height: normal;
        margin: 0 0;
    }
}